
body{
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
    z-index: 0;
}

header{
    padding: 12px;
    height: auto;
    width: 100%;
    background-color: rgb(34, 9, 255);
    display: flex;
    position: fixed;
    box-sizing: border-box;
    transition-property: opacity, translate;
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
    transition-delay: 3s;
    z-index: 10;
    
    
    @starting-style {
      opacity: 0;
      translate: 0px 20px;
    }
}
.header-content{
    font-family: 'Bricolage Grotesque', sans-serif;
    font-weight: 800;
      font-variation-settings:
    "wdth" 100;
    font-size: 0.7vw;
    color: #e1e1e1;
    width: 100%;
    display: flex;
    flex-direction: row;
}
g{
    padding: 0;
    width: 50%;
    text-align: left;
    display: flex;
    flex-direction: column;

}
d{
    padding: 0;
    width: 50%;
    text-align: right;
    display: flex;
    flex-direction: column;
}
/* unvisited link */
a:link {
  color: #e1e1e1;
}

/* visited link */
a:visited {
  color: #e1e1e1;
}

/* mouse over link */
a:hover {
  color: #9e9e9e;
}

/* selected link */
a:active {
  color: #9e9e9e;
}